---

---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 whitespace-nowrap leading-tight">
  <span class="block text-xl font-bold text-gray-900 dark:text-white font-heading">Mambakkam</span>
  <span class="block text-xs text-muted font-sans tracking-wide">மாம்பாக்கம்</span>
</span>
